SELECT
{%- for column in columns %}
    {{ agg_name }}({{ column }}) AS {{ column }}{{ ',' if not loop.last else '' }}
{%- endfor %}
FROM
    {{ database }}.{{ table }}
{%- if where is not none %}
WHERE {{ where }}
{%- endif %}
;