SELECT
{%- for column in group_columns %}
    {{ column }},
{%- endfor %}
{%- for column in percentile_columns %}
    approx_percentile({{ column }}, {{ percentile }}) as {{ column }}{{ ',' if not loop.last else '' }}
{%- endfor %}
FROM
    {{ database }}.{{ table }}
{%- if sample is not none %}
TABLESAMPLE
    {{ sample[0] }} ({{ sample[1] }})
{%- endif %}
{%- if where is not none %}
WHERE {{ where }}
{%- endif %}
GROUP BY
{%- for column in group_columns %}
    {{ column }}{{ ',' if not loop.last else '' }}
{%- endfor %}
ORDER BY
{%- for column in group_columns %}
    {{ column }}{{ ',' if not loop.last else '' }}
{%- endfor %}
;