SELECT
    DISTINCT({{ column }}) as {{ column }}
FROM
    {{ database }}.{{ table }}
{%- if sample is not none %}
TABLESAMPLE
    {{ sample[0] }} ({{ sample[1] }})
{%- endif %}
{%- if where is not none %}
WHERE {{ where }}
{%- endif %}
{%- if order_by is not none %}
ORDER BY
    {{ order_by }}
{%- endif  %}
{%- if limit is not none  %}
LIMIT
    {{ limit }}
{%- endif %}
;