SELECT
    value, count
FROM (
    SELECT
        histogram({{ column }})
    FROM
         {{ database }}.{{ table }}
) AS x ({{ column }}_histogram)
CROSS JOIN
    UNNEST({{ column }}_histogram) AS t (value, count);
