SELECT
{%- for column in columns %}
    {{ column }}{{',' if not loop.last else '' }}
{%- endfor %}
FROM
    {{ database }}.{{ table }}
{%- if sample is not none %}
TABLESAMPLE
    {{ sample[0] }} ({{ sample[1] }})
{%- endif %}
{%- if where is not none %}
WHERE {{ where }}
{%- endif %}
{%- if limit is not none  %}
LIMIT
    {{ limit }}
{%- endif %}
;